table, th, td {
	border: 1px solid black;
}

/* h1 {
    text-align: center;
} */
ul li a {
	text-decoration: none;
}

.center-form {
	justify-content: center;
	/* display: flex; */
	margin: 40px, 50px;
	border: 3px solid blue;
	padding: 30px;
	background-color: rgb(208, 205, 245);
	/* padding-left: 650px; */
}

.container {
	border-radius: 5px;
	padding: 20px;
}

* {
	box-sizing: border- box;
}

.btn {
	background-color: green;
	color: white;
	padding: 12px, 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	float: right;
}

.btn:hover {
	background-color: #45a049;
}

.row {
	content: "";
	display: table;
	clear: both;
}

input[type=text], textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical;
}

input[type=email], textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical;
}

input[type=password], textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical;
}